{{ with .Site.Data.home.contact }}
{{ if .enable }}

{{ "<!-- Section Contact -->" | safeHTML }}
<section class="section-contact" id="contact">
  <div class="container">
    <div class="row">
      <h2 data-aos="custom-fade-up" data-aos-delay="100" data-aos-once="true">{{ .title }}</h2>
      <div class="col-md-12">
        <template id="contact-success">
          <div class="success-box">
            <i class="fa fa-check"></i> {{default "Спасибо, что связались с нами." ($.Param "contact-success")}}
        </div>
        </template>
        <template id="contact-error">
          <div class="error-box">
            <i class="fa fa-check"></i> {{default "Ошибка отправки. Пожалуйста, попробуйте еще раз позже." ($.Param "contact-error")}}
          </div>
        </template>
          <form id="contact-form" data-dynamic-form data-success="#contact-success" data-error="#contact-error" action="https://formsubmit.co/{{ $.Param "formsubmitEmail" }}" method="post">
              <div data-aos="custom-fade-up" data-aos-delay="200" data-aos-once="true"><input type="text" name="name" id="name" placeholder="{{ i18n "yourName" }}" required></div>
              <div data-aos="custom-fade-up" data-aos-delay="300" data-aos-once="true"><input type="email" name="email" id="email" placeholder="{{ i18n "yourEmail" }}" required></div>
              <div data-aos="custom-fade-up" data-aos-delay="400" data-aos-once="true"><textarea name="message" id="msg" placeholder="{{ i18n "yourMessage" }}" required></textarea></div>
              <div data-aos="custom-fade-up" data-aos-delay="400" data-aos-once="true"><input type="submit" name="submit" id="submit" value="{{ i18n "sendMessage" }}" /></div>
          </form>
      </div>
    </div>
  </div>
</section>

{{ end }}
{{ end }}